
<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3">
				<div class="img-wrap">
					<img src="<%= asset_path('rs-logo.png') %>" alt="Rap Scraps Logo">
				</div>
			</div>
		</div>
	</div>
</header>
<main>
	<div class="container">
		<div class="row">
			<h1>Rap Scraps</h1>
			<ul>
			<% @tweets.each do |tweet| %>
				<li><%= tweet.full_text %></li>
			<% end %>
			</ul>
		</div>
	</div>
</main>
<footer>
	<div class="container">
		<div class="row">
			<p><strong>Rap Scraps</strong> created by <a href="#">Jose De La Vega</a> and <a href="#">Josh Delgado</a></p>
		</div>
	</div>
</footer>