// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "font-awesome";
@import 'slick';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/******************************
*	Variables
*******************************/
$red: #d91a2a;
$dark-red: #59262A;
$white: #f8fafa;
$black: #232323;
$gray: #c1c1c1;
$white-hover: #d8dada;
$fonts: 'Montserrat', helvetica, arial, sans-serif;

/******************************
*	General
*******************************/
html,body{
	height:100%;
}
.total-wrapper{
	position: relative;
	min-height: 100%;
}
main{
	font-family: $fonts;
	padding-bottom: 75px;
}
.row{
	padding:25px 0;
}
.img-wrap img{
	margin:0 auto;
	display: block;
	max-width:100%
}
i{
	color: $red;
}
i:hover{
	color:$dark-red;
}

/******************************
*	Header
*******************************/
header{
	background-color: #333;
	color: $red;
	.row{
		padding:10px 0;
	}
	nav{
		font-size: 1.618rem;
		text-align: right;
	}
	.logo{
		width:175px;
	}
}
a.info-trigger{
	color: $red;
	border:4px solid $red;
	border-radius:100%;
	width:50px;
	height:50px;
	display:inline-block;
	text-align:center;
}
a.info-trigger i{
	line-height:1.7em;
}
a.info-trigger:hover{
	color: $dark-red;
	border-color: $dark-red;
}

/******************************
*	Footer
*******************************/
footer {
	background-color: $red;
	color: $white;
	position: absolute;
	height:75px;
	left: 0;
	right: 0;
	bottom: 0;

	p{
		margin:0;
	}
	a{
		color: $dark-red;
		text-decoration: none;
	}
	a:hover{
		color: $white-hover;
	}
}

/******************************
*	Scraps
*******************************/
.scraps-date{
	color:$gray;
}
.scraps-list{
	list-style: none;
}
.scraps-single{
	font-size: 3.14rem;
	line-height:1.4em;
	.tweet-date{
		display: none;
	}
}
.scraps-navigation{

	.current-scrap{
		color: $gray;
		padding:0 15px;
	}
	i{
		color: $red;
		cursor:pointer;
		font-size:1.5em;
	}
	i:hover{
		color:$dark-red;
	}
}
.scraps-social{
	padding:0;
	margin:0;
	li{
		list-style: none;
		display: inline-block;
		padding:0;
		font-size:1.35em;
		width:25px;
		text-align: center;
	}
}
.scraps-instructions{
	p{
		text-align:center;
		color:$red;
	}
}
